name: Release

on:
  push:
    tags:
      - "v*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
        with:
          version: 9
      - uses: actions/setup-node@v4
        with:
          node-version: 24.12
          cache: "pnpm"

      - name: Install dependencies
        run: |
          npm install -g npm@latest
          pnpm install

      - name: Build
        run: |
          pnpm build

      - name: Publish all packages
        run: |
          pnpm config set //registry.npmjs.org/:token-type oidc
          pnpm -r publish --access public --no-git-checks --provenance
